# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
.checks/
.verify/
.jscpd-report/
scripts/*.d.mts
test-results/
playwright-report/
.svelte-kit/
dist/
eslint/fixtures/history/
